/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

html{
	-webkit-animation-name:html_page;-webkit-animation-duration:500ms;-webkit-animation-timing-function:ease-in-out;
	-moz-animation-name:html_page;-moz-animation-duration:800ms;-moz-animation-timing-function:ease-in-out;
}
@-webkit-keyframes html_page {
	0% {-webkit-transform: skewY(80deg) scale(.2);-webkit-transform-origin: center right;}
	100% {-webkit-transform: skewY(0deg) scale(1);-webkit-transform-origin: center right;}
}
@-moz-keyframes html_page {
	0% {-moz-transform: skewY(80deg) scale(.2);-moz-transform-origin: center right;}
	100% {-moz-transform: skewY(0deg) scale(1);-moz-transform-origin: center right;}
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, sans-serif, 'Microsoft Yahei';
  *font-size: small;
  text-align: center;
}

h1 {
  font-size: 2em;
}
h2{
  font-size: 1.5em;
}
h3{
  font-size: 1.2em;
}
h4{
  font-size: 1em;
}
h5{
  font-size: 0.8em
}
h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

blockquote{
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}



.title {  
  margin-bottom: 2em;
}

  .site .title a#logo{
    font-size: 2.5em;
    line-height: 1.5;
    font-weight: bold;
    color: #a00; 
  }

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post p{
  font-size: 1em
}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding:.4em;
    margin: .5em 0;
    word-wrap:break-wrod;
    word-break:break-all;
  }

  #post ul,
  #post ol {
    margin: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
  /* animate
  =============================================*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px)rotateX(90deg);
        transform: perspective(400px)rotateX(90deg);
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px)rotateX(-10deg);
        transform: perspective(400px)rotateX(-10deg)
    }

    70% {
        -webkit-transform: perspective(400px)rotateX(10deg);
        transform: perspective(400px)rotateX(10deg)
    }

    100% {
        -webkit-transform: perspective(400px)rotateX(0);
        transform: perspective(400px)rotateX(0);
        opacity: 1
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px)rotateX(90deg);
        -ms-transform: perspective(400px)rotateX(90deg);
        transform: perspective(400px)rotateX(90deg);
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px)rotateX(-10deg);
        -ms-transform: perspective(400px)rotateX(-10deg);
        transform: perspective(400px)rotateX(-10deg)
    }

    70% {
        -webkit-transform: perspective(400px)rotateX(10deg);
        -ms-transform: perspective(400px)rotateX(10deg);
        transform: perspective(400px)rotateX(10deg)
    }

    100% {
        -webkit-transform: perspective(400px)rotateX(0);
        -ms-transform: perspective(400px)rotateX(0);
        transform: perspective(400px)rotateX(0);
        opacity: 1
    }
}

.flipInX {
    -webkit-backface-visibility: visible!important;
    -ms-backface-visibility: visible!important;
    backface-visibility: visible!important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX
}
