/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}


h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.unstyled {
  list-style-type: none;
  margin-bottom: 2em;
}

  .unstyled li {
    line-height: 1.75em;
  }

  .unstyled .date {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }
  .unstyled .bar {
    background: #eee;
    height: 14px;
    margin-top: 4px;
    float: right;
    cursor: default;
    text-decoration: none;
  }
/*****************************************************************************/
/*
/* main
/*
/*****************************************************************************/

.container {
  font-size: 110%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-size: 4em;
}

.main{
  line-height: 1.5em;
}

.main h6 {
  color: #aaa;
}

.main ul,
.main ol {
  margin: 1.35em;
}

.main li {
  line-height: 1.5em;
}

.main pre,
.main code{
  border: 1px solid #ccc;
  background-color: #222;
  white-space: pre; /* CSS2 */  
  white-space: -moz-pre-wrap; /* Mozilla */  
  white-space: -hp-pre-wrap; /* HP printers */  
  white-space: -o-pre-wrap; /* Opera 7 */  
  white-space: -pre-wrap; /* Opera 4-6 */  
  white-space: pre-wrap; /* CSS 2.1 */  
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */  
  word-wrap: break-word; /* IE */  
  overflow: hidden;
  color: #e6db74;
}
.main pre {
  padding: .4em;
}
.main code {
    font-size: 85%;
    padding: .2em;
  }
