@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro);
body{background-color:#016D96; font-family:Open sans, Microsoft JhengHei, Microsoft YaHei, sans-serif; font-size:12px; color:#fff;}
body,p,h1,h2,dl,dt,dd,em,blockquote,pre{margin:0; padding:0; list-style:none}
a,.b_back{text-decoration:none;}
code, pre{
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-size: 12px;
}
.body_bg{
	background:url(../images/bg.jpg) no-repeat fixed;
	background-size:cover; 
	width:100%; 
	height:100%; 
	z-index:0;
	position:fixed;
	top: 0;
	left: 0;
	opacity: 0;
}
.l{float:left}
.r{float:right}
::-webkit-scrollbar{width:10px}
::-webkit-scrollbar-button,::-webkit-scrollbar-track,::-webkit-scrollbar-corner,::-webkit-resizer{background:none; width:0; height:0}
::-webkit-scrollbar-track-piece{background:none}
::-webkit-scrollbar-thumb{background:#fff}
#bg,#loading,#header,#timer,#menu,#footer,#tips,#music,#playtips,#player,.v,.nosurport,.lrc,#weather,.b_back{position:fixed}
#load .dot,#header .logo a,#timer .w,#timer .d,#menu ul,#blog,.b_nav li.bg,.bar,.curtime,.control,.cover,.cover span,.info,#playlist,#b_view,.b_page{position:absolute}
#bg,#footer,.blog,.about,#tips,#music,.v,#playlist,.cover,.nosurport,.weather,#b_view,.b_page{display:none}
.main,.blog{-webkit-perspective:500; -moz-perspective:500px; -ms-perspective:500px; perspective:500px}
.blog,.blog dl{-webkit-transform-style:preserve-3d; -webkit-transition:.5s ease-out; -moz-transform-style:preserve-3d; -moz-transition:.5s ease-out; -ms-transform-style:preserve-3d; -ms-transition:.5s ease-out; transform-style:preserve-3d; transition:.5s ease-out}
#header,#footer,#timer,#menu,#playtips{z-index:500}
.w_show{-webkit-transform:translateZ(0) rotateY(0) rotateX(0) !important; -moz-transform:translateZ(0) rotateY(0) rotateX(0) !important; -ms-transform:translateZ(0) rotateY(0) rotateX(0) !important; transform:translateZ(0) rotateY(0) rotateX(0) !important; opacity:1 !important}
.light{background:url(images/wenkm_light.png) no-repeat; width:70px; height:5px; opacity:0; position:absolute; overflow:hidden}

#header{width:300px; height:80px; top:-80px; left:0; opacity:0}
#header .logo{width:300px; height:80px; font-family:'Anonymous Pro',Arial; border-left:solid #fff 15px; margin-left:30px}
#header .logo a{font-size:4em; color:#fff; left:60px; top:40px; opacity:0}
.color0{
	background-color: #a1b550;
}
.color1{
	background-color: #60BE32;
}
.color2{
	background-color: #2281f7;
}
.color3{
	background-color: #e0951a;
}
.color4{
	background-color: #00aadb;
}
.color5{
	background-color: #be213a;
}
.color6{
	background-color: #1a964c;
}
.color7{
	background-color: #961a8f;
}
.color8{
	background-color: #1a964c;
}
.color9{
	background-color: #6177CF;
}
.color10{
	background-color: #F0864A;
}
/*loading*/
#loading{top:50%; left:50%; width:100px; margin-left:-70px; margin-top:-30px; text-align:center; font-size:2em; color:#fff; z-index:1000}
#loading .load{-webkit-animation:loading 2s infinite; -moz-animation:loading 2s infinite; -ms-animation:loading 2s infinite; animation:loading 2s infinite}
@-webkit-keyframes loading{0%,100%{opacity:0}50%{opacity:1}}
@-moz-keyframes loading{0%,100%{opacity:0}50%{opacity:1}}
@-ms-keyframes loading{0%,100%{opacity:0}50%{opacity:1}}
@keyframes loading{0%,100%{opacity:0}50%{opacity:1}}
#load{width:40px; height:40px; margin:0 0 20px 30px; -webkit-transform:rotate(-120deg); -moz-transform:rotate(-120deg); -ms-transform:rotate(-120deg); transform:rotate(-120deg)}
#load .dot{visibility:visible; visibility:hidden; width:40px; height:40px; -webkit-animation-duration:3.3s; -webkit-animation-timing-function:cubic-bezier(.25,.6,.9,.35); -webkit-animation-iteration-count:infinite; -moz-animation-duration:3.3s; -moz-animation-timing-function:cubic-bezier(.25,.6,.9,.35); -moz-animation-iteration-count:infinite; -ms-animation-duration:3.3s; -ms-animation-timing-function:cubic-bezier(.25,.6,.9,.35); -ms-animation-iteration-count:infinite; animation-duration:3.3s; animation-timing-function:cubic-bezier(.25,.6,.9,.35); animation-iteration-count:infinite}
#load .dot p{display:block; width:8px; height:8px; border-radius:8px; background:#fff}
@-webkit-keyframes load1{0%{-webkit-transform:rotate(-10deg); visibility:visible}35%{-webkit-transform:rotate(360deg)}73%,100%{-webkit-transform:rotate(700deg); visibility:hidden}}
@-webkit-keyframes load2{4%{visibility:hidden}5%{-webkit-transform:rotate(-10deg); visibility:visible}40%{-webkit-transform:rotate(360deg)}78%,100%{-webkit-transform:rotate(700deg); visibility:hidden}}
@-webkit-keyframes load3{9%{visibility:hidden}10%{-webkit-transform:rotate(-10deg); visibility:visible}45%{-webkit-transform:rotate(360deg)}83%,100%{-webkit-transform:rotate(700deg); visibility:hidden}}
@-webkit-keyframes load4{14%{visibility:hidden}15%{-webkit-transform:rotate(-10deg); visibility:visible}50%{-webkit-transform:rotate(360deg)}88%,100%{-webkit-transform:rotate(700deg); visibility:hidden}}
@-webkit-keyframes load5{19%{visibility:hidden}20%{-webkit-transform:rotate(-10deg); visibility:visible}55%{-webkit-transform:rotate(360deg)}93%,100%{-webkit-transform:rotate(700deg); visibility:hidden}}
@-moz-keyframes load1{0%{-moz-transform:rotate(-10deg); visibility:visible}35%{-moz-transform:rotate(360deg)}73%,100%{-moz-transform:rotate(700deg); visibility:hidden}}
@-moz-keyframes load2{4%{visibility:hidden}5%{-moz-transform:rotate(-10deg); visibility:visible}40%{-moz-transform:rotate(360deg)}78%,100%{-moz-transform:rotate(700deg); visibility:hidden}}
@-moz-keyframes load3{9%{visibility:hidden}10%{-moz-transform:rotate(-10deg); visibility:visible}45%{-moz-transform:rotate(360deg)}83%,100%{-moz-transform:rotate(700deg); visibility:hidden}}
@-moz-keyframes load4{14%{visibility:hidden}15%{-moz-transform:rotate(-10deg); visibility:visible}50%{-moz-transform:rotate(360deg)}88%,100%{-moz-transform:rotate(700deg); visibility:hidden}}
@-moz-keyframes load5{19%{visibility:hidden}20%{-moz-transform:rotate(-10deg); visibility:visible}55%{-moz-transform:rotate(360deg)}93%,100%{-moz-transform:rotate(700deg); visibility:hidden}}
@-ms-keyframes load1{0%{-ms-transform:rotate(-10deg); visibility:visible}35%{-ms-transform:rotate(360deg)}73%,100%{-ms-transform:rotate(700deg); visibility:hidden}}
@-ms-keyframes load2{4%{visibility:hidden}5%{-ms-transform:rotate(-10deg); visibility:visible}40%{-ms-transform:rotate(360deg)}78%,100%{-ms-transform:rotate(700deg); visibility:hidden}}
@-ms-keyframes load3{9%{visibility:hidden}10%{-ms-transform:rotate(-10deg); visibility:visible}45%{-ms-transform:rotate(360deg)}83%,100%{-ms-transform:rotate(700deg); visibility:hidden}}
@-ms-keyframes load4{14%{visibility:hidden}15%{-ms-transform:rotate(-10deg); visibility:visible}50%{-ms-transform:rotate(360deg)}88%,100%{-ms-transform:rotate(700deg); visibility:hidden}}
@-ms-keyframes load5{19%{visibility:hidden}20%{-ms-transform:rotate(-10deg); visibility:visible}55%{-ms-transform:rotate(360deg)}93%,100%{-ms-transform:rotate(700deg); visibility:hidden}}
@keyframes load1{0%{transform:rotate(-10deg); visibility:visible}35%{transform:rotate(360deg)}73%,100%{transform:rotate(700deg); visibility:hidden}}
@keyframes load2{4%{visibility:hidden}5%{transform:rotate(-10deg); visibility:visible}40%{transform:rotate(360deg)}78%,100%{transform:rotate(700deg); visibility:hidden}}
@keyframes load3{9%{visibility:hidden}10%{transform:rotate(-10deg); visibility:visible}45%{transform:rotate(360deg)}83%,100%{transform:rotate(700deg); visibility:hidden}}
@keyframes load4{14%{visibility:hidden}15%{transform:rotate(-10deg); visibility:visible}50%{transform:rotate(360deg)}88%,100%{transform:rotate(700deg); visibility:hidden}}
@keyframes load5{19%{visibility:hidden}20%{transform:rotate(-10deg); visibility:visible}55%{transform:rotate(360deg)}93%,100%{transform:rotate(700deg); visibility:hidden}}



.main{margin:5% auto 0; width:690px; padding-left:10%; display: none;position: relative;z-index: 5}
.article{margin:0 10px 10px 0; padding: 10px;float: left;font-size: 16px;line-height: 25px;}
.article:hover{
	box-shadow:3px 3px 0 #fff,3px -3px 0 #fff,-3px 3px 0 #fff,-3px -3px #fff
}
.article h1 {font-size:30px;}
.article a{
	color: #fff
}
.article .meta{margin:5px 10px 10px;font-size: 14px;}
.article .article-content{margin:5px 10px 10px;}

.article p, .article blockquote, .article ul, .article ol, .article dl, .article table, .article pre{
	margin: 15px 0;
}
.article ul, .article ol{
	padding-left: 30px;
}

.article blockquote {
	border-left: 4px solid #DDD;
	padding: 0 15px;
}
.article code,
.article pre{
	background-color: #67634E;
	border: 1px solid #ddd;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	word-wrap: break-word;
}
.article pre{	
	width: 650px;
}

/*menu*/
#menu{-webkit-transition:.5s cubic-bezier(0,0,0,1); -moz-transition:.5s cubic-bezier(0,0,0,1); -ms-transition:.5s cubic-bezier(0,0,0,1); transition:.5s cubic-bezier(0,0,0,1)}
#menu{top:0; right:-89px; width:90px; height:100%; background:rgba(0,0,0,.8)}
#menu .menu_list{margin:10px 0; margin-left:10px}
#menu .menu_list a{
	display:block; text-align:center; color:#999;
    background-color:#202020
}
#menu .menu_list a:hover{background-color: #2c2c2c}

/*timer*/
#timer{bottom:10px; left:-400px; font-size:2em; width:350px}
#timer .w{left:190px; top:10px}
#timer .d{left:190px; top:40px}
#timer .t{font-size:3em}
