/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}


h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.articles {
  list-style-type: none;
  margin-bottom: 2em;
}

  .articles li {
    line-height: 1.75em;
  }

  .articles .date {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }
  .articles .bar {
    background: #eee;
    height: 14px;
    margin-top: 4px;
    float: right;
    cursor: default;
  }
/*****************************************************************************/
/*
/* main
/*
/*****************************************************************************/

.container {
  font-size: 110%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  margin-bottom: 2em;
}

.main h6 {
  color: #aaa;
}