a img,body,button,div,fieldset,form,h1,h2,h3,h4,h5,h6,html,img,input,li,menu,ol,p,textarea,ul {
	padding:0;
	margin:0;
	border:0
}
li,ol,ul {
	list-style:none
}
b,em,h1,h2,h3,h4,h5,h6,i {
	font-size:1em;
	font-weight:400;
	font-style:normal
}
body,button,input,select,textarea {
	-webkit-text-size-adjust:none;
	font:400 14px/1.5 helvetica,verdana,san-serif;
	outline:0;
	color:#333
}
button,input[type=button],input[type=password],input[type=submit],input[type=text],textarea {
	-webkit-appearance:none
}
a,a:visited {
	text-decoration:none;
	color:#333
}
.img img,video {
	vertical-align:middle
}
body {
	min-width:320px;
	margin:0 auto;
	background:#fff
}
.btn {
	display:inline-block;
	vertical-align:middle
}