<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title></title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="base.css?v=122">
    <script src="https://pay.360.cn/resource/js/component/ntpl.js"></script>
    <script src="https://pay.360.cn/resource/js/lib/zepto.min.js"></script>
</head>
<body>
<ul class="list" id="list"></ul>
<!--load-->
<div id="infscr-loading">
    <img alt="Loading..." src="/resource/img/webapp/load.gif">
</div>

<script type="text/tpm" id="listTpm">
 <% for(var i=0; i<apks.length; i++){%>
    <li>
		<div class="img_box">
			<img src="<%= apks[i].iconUrl %>" alt="<%= apks[i].title %>">
		</div>
		<div class="text">
			<div class="title"><%= apks[i].title %></div>
			<p><%= apks[i].desc %></p>
		</div>
		<div class="btns">
			<% if(apks[i].hasInstalled == '0'){ %>
                <a href="javascript:;" data-apkurl="<%= apks[i].apkUrl %>" data-apk="<%= apks[i].packageName %>" class="install">安装</a>
            <% } else if(apks[i].hasInstalled == '1') { %>
                <a href="javascript:;" data-apkurl="<%= apks[i].apkUrl %>" data-apk="<%= apks[i].packageName %>" class="install">下载中</a>
            <% } else { %>
                <a href="javascript:;" data-apk="<%= apks[i].packageName %>" class="opend">打开</a>
            <%}%>
        </div>
	</li>
 <%}%>
</script>

<script>
	var list = $('#list'),
		loadNode = $('#infscr-loading')

	function render(data){
		var result = NT.tpl('listTpm', data);
		//JsMethods.toast(result);
		list.append(result);
	    loadNode.hide();
	}

	function isApkName(aList, apkName, fn){
		for(var i=0; i<aList.length; i++){
			var curNode = aList.eq(i);
			if(curNode.attr("data-apk") == apkName){
				fn && fn(curNode);
				return;
			}
		}
	}

	function installAfter(apkName){
		var aList = list.find(".install");
		isApkName(aList, apkName, function(curNode){
			var state = JsMethods.getInstallState(apkName);
			state = +state;
			if(!state){
				curNode.removeClass().addClass("opend").html("打开");
				return
			}
			curNode.removeClass().addClass("install").html("安装");
		});
	}

	list.on('click', '.install', function(){
	    var that = $(this);
	    that.html('安装中');
	    var apktitle = that.parents('li').find('.title').text();
	    var apkName = that.attr("data-apk");
	    var apkUrl = that.attr("data-apkurl");
		//JsMethods.toast(apkUrl);
	    var iconUrl = that.parents('li').find("img").attr('src');
	    JsMethods.install(apkName, apktitle, apkUrl, iconUrl,'installAfter(\"'+apkName+'\")');
	});

	list.on('click', '.opend', function(){
	    var that = $(this);
	    var apkName = that.attr("data-apk");
	    JsMethods.open(apkName);
	});

	var scrollFlag = 0;

	function tryGetDate(){
		loadNode.show();
		var tmpData = JsMethods.getData();
		tmpData = JSON.parse(tmpData);
		render(tmpData);
	}




	$(window).scroll(function(){
		if(scrollFlag) return;
	    var clientHeight = $(window).height(),
	        scrollTop = $(window).scrollTop(),
	        scrollHeight = $(document).height();
	    if(clientHeight + scrollTop >=  scrollHeight ){
		    JsMethods.tryGetData('tryGetDate()');
	    }
	});
	// app 被删除，改为安装
	function apkRemoved(apks){
		var aList = list.find(".opend");
		apks = apks.split('|');
		for(var i=0; i<apks.length; i++){
			isApkName(aList, apks[i], function(node){
				node.removeClass().addClass("install").html("安装");
			});
		}

	}
	//默认打开延迟1秒执行
	setTimeout(function(){
		JsMethods.tryGetData('tryGetDate()');
		JsMethods.setApkRemovedJson('apkRemoved');
	}, 1000);



</script>

</body>
</html>
