
<!doctype html>
<html lang="en-US">
<head>
    <meta charset="GBK">
    <title></title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="http://beta.payment.360.cn/static/css/help_list.css">
    <script src="http://beta.payment.360.cn/static/js/zepto.min.js"></script>
    <script src="https://pay.360.cn/resource/js/component/ntpl.js"></script>
</head>
<body>
    <div id="b">
        <div class="line2"></div>
    </div>

<script type="text/tpm" id="list">
<% for(var i=0; i<list.length; i++){%>
    <div class="title">
        <div class="w95">
            <div><%= list[i].title %></div> 
        </div>
        <div class="qh_arrow"><em>◆</em><span>◆</span></div>
        <div class="qh_arrow2"><em>◆</em><span>◆</span></div>
    </div>
    <div class="text">
        <div class="cont w95">
            <%= list[i].content %>
        </div>    
    </div>
    <div class="line"></div>
<%}%>
</script>

<script>
    var $window = $(window),
        doc = $('body'),
        $b = $('#b'),
        scrollFlag;
        
    alert(2);
    //点击展开或者关闭
    doc[0].onclick = function(){
        
        alert(2);
    }
        
    // 获取数据
    var getData = function(){
        // 页数
        var page=0;
        var n = 15;
        return function(){
            var data = [{"title": "\u4f7f\u7528<span>\u519c\u884c\u50a8\u84c4\u5361<\/span>\u652f\u4ed8\u63d0\u793a\"\u9884\u7559\u624b\u673a\u53f7\u9519\u8bef\"\uff0c\u5982\u4f55\u4fee\u6539\u94f6\u884c\u9884\u7559\u624b\u673a\u53f7\uff1f","content": "1\u3001\u6301\u672c\u4eba\u8eab\u4efd\u8bc1\u3001\u519c\u884c\u50a8\u84c4\u5361\u3001\u65b0\u624b\u673a\u53f7\u7801\uff0c\u5230\u4efb\u4e00\u519c\u884c\u67dc\u53f0\u586b\u5199\u7533\u8bf7\u8868\uff0c\u4fee\u6539\u201c\u9884\u5b58\u624b\u673a\u53f7\u7801\u201d\u5373\u53ef\u3002 \n\t\t\t\t\t\t\t\t<p>2\u3001\u8bf7\u4e0e\u94f6\u884c\u6838\u5b9e\u52a8\u8d26\u901a\u77e5\uff08\u5373\u7528\u6237\u8d26\u52a1\u53d8\u52a8\u6839\u884c\u53d1\u9001\u7684\u624b\u673a\u53f7\u7801\uff09\u548c\u7528\u6237\u8d44\u6599\u7684\u53f7\u7801\u662f\u5426\u4e00\u81f4\u3002\u5982\u679c\u4e0d\u4e00\u81f4\uff0c\u8bf7\u66f4\u6539\u6210\u4e00\u81f4\uff0c\u5177\u4f53\u53ef\u54a8\u8be2\u519c\u884c\u5ba2\u670d\u70ed\u7ebf\uff1a<a href=\"tel:95599\">95599<\/a><\/p>"}];
            var d = {
                    list: data
                }
                // 构建模板
                var tmp = NT.tpl('list', d);    
                $b.append(tmp);
            return;
            var url = '/help/getHelpList?page='+page + '&num='+n;
            // 获取数据
            $.getJSON(url, function(data){
                if(!data) {scrollFlag = true;return}
                var d = {
                    list: data
                }
                // 构建模板
                var tmp = NT.tpl('list', d);    
                $b.append(tmp);
                // 允许继续滚动
                scrollFlag = 0;
                page++;
            });
        }
    }();    
    getData();
    // 滚动时获取数据
    $window.scroll(function(){
        if(scrollFlag) return;
        var clientHeight = $window.height(),
            scrollTop = $window.scrollTop(),
            scrollHeight = doc.height();

        if(clientHeight + scrollTop + 10 >=  scrollHeight){
            //防止继续滚动 造成的性能浪费
            scrollFlag = 1;
            getData();
        }
    });
    
    // doc.on('click', function(){
    //     alert(121);
    // });
    // doc.on('click', '.title', function(){
    //     alert(12312313123);
    //     var $this = $(this);
    //     alert($this.hasClass('tit_active'));
    //     if($this.hasClass('tit_active')){
    //         $this.next('.text').hide();
    //         $this.removeClass('tit_active');
    //         return;
    //     }
    //     alert('class');
    //     $this.addClass('tit_active').siblings('.title').removeClass('tit_active');
    //     $this.next('.text').show().siblings('.text').hide();
    // });
</script>
</body>
</html>
