/* reset */
article,aside,audio,bdi,canvas,command,datalist,details,figcaption,figure,footer,header,hgroup,keygen,mark,meter,nav,output,progress,rp,rt,ruby,section,source,summary,time,track,video,title {
    display: block
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,figure {
    padding: 0;
    margin: 0;
}
fieldset,img {
    border: 0;
}
a,img {
    vertical-align: top;
    -webkit-touch-callout: none;
}
:focus {
    outline: 0;
}
address,caption,cite,code,dfn,em,th,var,optgroup {
    font-style: normal;
    font-weight: normal;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}
abbr,acronym {
    border: 0;
    font-variant: normal;
}
input,button,textarea,select,optgroup,option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
code,kbd,samp,tt {
    font-size: 100%;
}
input,button,textarea,select {
    *font-size: 100%;
}
ol,ul,li {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption,th {
    text-align: left;
}
sup,sub {
    font-size: 100%;
    vertical-align: baseline;
}
blockquote,q {
    quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

.fl {
    float: left;
    _display: inline;
}
.fr {
    float: right;
    _display: inline;
}
/* end atom */

/* comm */
html,
body {
    /* 禁止选中文本（如无文本选中需求，此为必选项） */
    -webkit-user-select: none;
    user-select: none;
}
html {
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
}
body {
    font: 1rem/1.5 "microsoft yahei", Arial;
    color: #909095;
    background-color: #fff;
}

a {
	outline:none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/* list
====================================*/
.list{
	-webkit-overflow-scrolling: touch;
}
.list li{
    overflow: hidden;
    box-shadow:inset 0 0 1px #d5d5d5;
    padding: 1.5rem 0;
    background: #fff;
}
.list .img_box,
.list .img_box img{
    width: 3.8rem;
}
.btns,
.list .img_box{
	margin: 0 1rem;
}
.list .img_box img{
    border-radius: 1rem;
    
}
.list .text{
    width: 20.1rem;
}
.list .text,
.list .img_box {
    float: left;
    line-height: 1.8rem;
}

.text .title{
    margin-bottom: 0.7rem;

    font-size: 1.4rem;
    color: #000;
    line-height: 1;
}
.text p{
    font-size: 1.2rem;
    color: #909095;
}

.btns,
.install,
.opend{
	width: 3.8rem;
}

.btns{
    float: right;
    text-align: center;

    line-height: 3.8rem;

    font-size: 1.4rem;
    color: #969696
}
.install{
    display: inline-block;

    border-radius: 3.8rem;
    border: 1px solid #6bbd23;

    height: 3.8rem;

    font-size: 1.2rem;
    color: #6bbd23;
}
.opend{
    display: inline-block;

    margin: 0.65rem 0;
    border: 1px solid #fff;

    height: 2.5rem;
    line-height: 2.5rem;

    font-size: 1.2rem;
    color: #fff;
    background: #2165c0;
}


#infscr-loading{
    text-align: center;
    margin-top: 1rem;
}
#infscr-loading img{
    width: 2rem;
}

.back-btn{
	height: 3.5rem;
	box-shadow: 0 2px 6px rgba(0,0,0, 0.4);
	border-radius: 3px;
	background: #E0E0E0;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#E0E0E0));

	font-size: 1.8rem;
	text-align: center;
	line-height: 3.5rem;
	color: rgb(188,188,188);
}
