<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Liu Qing" />
   <meta name="google-site-verification" content="NQEXHSFJIqBPAfcdgdcwyWuopK8ncXYWo60ex_XpB24" />
	<meta name="baidu-site-verification" content="cGsf5gkGEH" />
	<meta name="360-site-verification" content="fd82676baa00cd327991605a0f8bb7e9" />
   <meta name="Keywords" content="johnqing,js,nodejs,css,html,前端开发工程师,用户体验,web前端开发,web前端开发博客,web前端开发工具,移动前端开发,刘卿,掰漏斯特" />
<meta name="Description" content="专注于前端开发，懂一点儿产品，懂一点儿用户体验" />
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/highlighting.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <h1 id="logo"><a href="/" class="animated flipInX">Liu Qing</a></h1>
  <div class="title">
    <a class="extra" href="/">home</a>
    <a class="extra" href="/about">about</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Liu Qing<br />
        Cofounder of <a href="http://github.com/">GitHub</a><br />
        csssnow@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/johnqing/">github.com/johnqing</a><br />
        <a href="http://weibo.com/jonery/">weibo</a><br />
      </p>
    </div>
  </div>
</div>

<a href="http://github.com/johnqing"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
<script type="text/javascript" src="/js/base.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?522a85a1b947b397a0721d02a0bd9a52";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>
