<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="想写一辈子代码可以么？">
<title>{{ page.title }}</title>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="/atom.xml" rel="alternate" title="{{ site.title }}" type="application/atom+xml">
<link rel="stylesheet" href="/assets/css/site.css?timestamp={{ site.time | date_to_xmlschema }}">

<body>

<div class="container">
    <h1 class="title">{{ page.title }}</h1>
</div>

<div class="container main">{{ content }}</div>
</body>

</html>
